@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@mixin subcontainer {
    width: 50%;
    min-width: 430px;
}
$border-radius: 15px;
$color-purple: #892064;
$color-label: #d3d5df;
$color-input: #708090;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
}

main {
    width: 40%;
    display: flex;
    justify-content: center;
    margin: auto;
}

a {
    color: white;
    text-decoration: none;
}

.image-container {
    @include subcontainer();
    background: linear-gradient(
            to bottom,
            rgba(20, 79, 132, 0.3),
            rgba(135, 46, 123, 0.8)
        ),
        url(../img/peak.jpg) no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    padding: 20px;
    .title {
        font-size: 2em;
        font-weight: 900;
    }
    .footer {
        font-style: italic;
        padding-top: 450px;
    }
}

.form-container {
    @include subcontainer();
    border: 4px solid $color-purple;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 20px;
    margin: auto;
    i.fa {
        display: block;
        color: $color-purple;
        text-align: right;
    }
    form {
        width: 70%;
        margin: auto;
        div {
            padding: 25px;
        }
        .input-container {
            label {
                color: $color-label;
                text-transform: uppercase;
            }
            input {
                width: 100%;
                color: $color-input;
                font-size: 1em;
                border: none;
                border-bottom: 2px solid $color-input;
                outline: none;
                padding: 5px 0;
                &::placeholder {
                    text-transform: capitalize;
                }
            }
        }
        .buttons-container {
            .button {
                background-color: $color-purple;
                color: white;
                font-size: 0.8em;
                font-weight: bold;
                border-radius: 25px;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 10px 20px;
            }
            .link {
                color: $color-purple;
                font-weight: bold;
            }
        }
    }
}
